<div class="header">
    <div [routerLink]="['']" class="header__Up">
        <p class="header__Up__logo">S</p>
        <p class="header__Up__title">Shopéame</p>
    </div>

    <div class="header__nav">
        <a [routerLink]="['/home']" class="header__nav__link" routerLinkActive="active-link">Home</a>
        <a [routerLink]="['/product-list']" class="header__nav__link" routerLinkActive="active-link">Products</a>
        <a [routerLink]="['/create-and-edit']" class="header__nav__link" routerLinkActive="active-link">Create/Edit Products</a>
    </div>
</div>
