.product {
    display: flex;
    justify-content: center;
    padding: 30px;
    &__image {
        margin-right: 24px;
        width: 500px;
        border: 1px solid rgb(126, 123, 123);
    }
    &__info {
        flex: 1;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        margin-top: 60px;
        display: flex;
        flex-direction: column;
    }
    &__price {
        color: rgb(160, 154, 154);
        font-weight: bold;
        font-size: 16px;
        margin: 8px 0 24px 0;
    }
    &__description {
        width: 60%;
    }
}